<!DOCTYPE html>
<html lang="de">
  {{> header}}
<body>
  <div>
    <div class="bodyheader no-print">
    </div>
    <div class="generalcontent">
      {{#each matten}}
        <div class="wettkampfgruppe">
          <div class="listeneintrag-titel">Matte {{id}}</div>
          <table>
            <th></th>
          {{#each (vorherigesElement runden)}}
            {{#if previous}}
              {{#if (gleichesElement (concat previous.gruppe.name previous.altersklasse) (concat this.gruppe.name altersklasse))}}
              {{else}}
                <tr><td style="height: 50px;"></td></tr>
              {{/if}}
            {{/if}}
            <tr>
              <td>
                {{#if previous}}
                  {{#if (gleichesElement (concat previous.gruppe.name previous.altersklasse) (concat this.gruppe.name altersklasse))}}
                  {{else}}
                    <div class="gruppentitel">Gruppe {{gruppe.name}} ({{altersklasse}})</div>
                  {{/if}}
                {{else}}
                  <div class="gruppentitel">Gruppe {{gruppe.name}} ({{altersklasse}})</div>
                {{/if}}
              </td>
              {{#each begegnungen}}
                <td class="wettkaempfer name {{wettkaempfer1.farbe}}">{{wettkaempfer1.name}}</td><td>({{wettkaempfer1.verein.name}})</td> 
                <td class="wettkaempfer name {{wettkaempfer2.farbe}}">{{wettkaempfer2.name}}</td><td>({{wettkaempfer2.verein.name}})</td>
              {{/each}}
            </tr>
          {{/each}}
          </table>
        </div>
        <div class="seitenumbruch"></div>
      {{/each}}
    </div>

</body>

</html>