<!DOCTYPE html>
<html lang="de">
<html lang="de">
  <head>
  <title>Judo-Turniersoftware</title>
  <link rel="stylesheet" href="/css/interface.css">
  <link rel="stylesheet" href="/css/mainstyle.css">
  <style type="text/css">
      @page {
        size: A4 portrait;
        margin: 20mm 15mm 20mm 15mm;
        
        @bottom-right-corner {
          content: "Seite " counter(page);
        }
      }

      tr {
        vertical-align: middle;
      }

      .groupsrow {
        break-inside: avoid;
      }
  </style>
</head>
<body>
  <div>
    <div class="generalcontent">
      {{#each matten}}
        <div class="wettkampfgruppe printing">
          <div class="listeneintrag-titel">Matte {{id}}</div>
          
          {{#each gruppenRunden}}
            <div class="table">
              {{#each runden as |runden rundenindex|}}
                {{#each begegnungen}}
                  <div class="table-row">
                    <div class="table-cell column1 hochkannt">
                      {{#if (gleichesElement @rundenindex 0)}}
                        <div class="gruppentitel_2">
                          Gruppe {{runden.gruppe.name}}, Runde {{runden.gruppen_runde}} (Wettkampf Nr. {{runden.matten_runde}} insgesamt)
                        </div>
                      {{/if}}
                    </div>
                  
                    <div>
                      <table>
                        <tbody>
                          <tr>
                            <td class="wettkaempfer name" style="width: 200px;">{{wettkaempfer1.name}}</td>
                            <td class="{{wettkaempfer1.farbe}}" style="width: 60px;">{{wettkaempfer1.farbe}}</td>
                            <td style="width: 200px;">({{wettkaempfer1.verein.name}})</td> 
                            <td style="width: 50px;"></td>
                            <td class="wettkaempfer name" style="width: 200px;">{{wettkaempfer2.name}}</td>
                            <td class="{{wettkaempfer2.farbe}}" style="width: 60px;">{{wettkaempfer2.farbe}}</td>
                            <td style="width: 200px;">({{wettkaempfer2.verein.name}})</td>
                          </tr>
                          <tr>
                            <td>
                              <table>
                                <tbody>
                                  <tr>
                                    <td>Kampfgeist</td>
                                    <td class="emptyTableCell"></td>
                                  </tr>
                                  <tr>
                                    <td>Technik</td>
                                    <td class="emptyTableCell"></td>
                                  </tr>
                                  <tr>
                                    <td>Kampfstil</td>
                                    <td class="emptyTableCell"></td>
                                  </tr>
                                  <tr>
                                    <td>Vielfalt</td>
                                    <td class="emptyTableCell"></td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                              <table>
                                <tbody>
                                  <tr>
                                    <td>Kampfgeist</td>
                                    <td class="emptyTableCell"></td>
                                  </tr>
                                  <tr>
                                    <td>Technik</td>
                                    <td class="emptyTableCell"></td>
                                  </tr>
                                  <tr>
                                    <td>Kampfstil</td>
                                    <td class="emptyTableCell"></td>
                                  </tr>
                                  <tr>
                                    <td>Vielfalt</td>
                                    <td class="emptyTableCell"></td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                          <tr><td class="seitenumbruch">----------</td></tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                {{/each}}
              {{/each}}
            </div>
          {{/each}}
        </div>
      {{/each}}
    </div>

</body>

</html>