<!DOCTYPE html>
<html lang="de">
  {{> header}}
<body>
  <div>
    <div class="bodyheader no-print">
    </div>
    <div class="generalcontent">
      
        <div class="wettkampfgruppe">
          <table style="border-spacing: 20px;">
            <tbody>
          {{#each gruppen}}
            <tr class="groupsrow">
              <td>{{altersKlasse}}</td>
              <td>{{name}} </td>
              <td>
                <table>
                <tbody>
                {{#each teilnehmer}}
                  <tr>
                    <td class="wettkaempfer name " style="width: 220px;">{{name}}</td><td style="width: 180px;">{{verein.name}}</td><td>({{farbe}})</td> 
                  </tr>
                {{/each}}
                </tbody>
                </table>
              </td>
            </tr>
          {{/each}}
          </tbody>
          </table>
        </div>
    </div>

</body>

</html>