<!DOCTYPE html>
<html lang="de">
  {{> header}}
<body>
  {{> title }}
  {{> nav }}
  
  <div>
    <div class="bodyheader">
      <h2>Gewichtsklassen</h2>
      <div>Anzahl der Kämpfer: {{anzahlwk}}</div>
      
      <div class="actions">
        <button onclick="renewGewichtsklassen()" >Alle Gewichtsklassen neu zuordnen<span class="material-icons md-48" title="Alle Gewichtsklassen neu zuordnen">autorenew</span></button>
        {{#if standardturnier}}
        {{else}}
          <a href="/gewichtsklassen/randori_printview_groups" target="_blank">Druckansicht Gruppen<span class="material-icons md-48" title="Druckansicht Gruppen">print</span></a>
        {{/if}}
      </div>
    </div>

    <form id="gewichtsklassenzuordnungformular" action="/gewichtsklassen" method="POST">
      <div class="grid">
        <div class="actions">
          <button type="submit">Zuordnungen speichern<span class="material-icons md-48" title="Gewichtsklassen-Zuordnung speichern">save</span></button>
          <br>
        </div>

        {{#if standardturnier}}

          <h1>Frauen</h1>
          <div class="gewichtsklassen">
          {{#each gewichtsklassengruppenWeiblich}}
            <div class="generalcontent" id="gruppe_{{id}}" droppable=true>
              <div class="gewichtsklasse-meta">
                <div>{{altersKlasse}}</div>
                <div>{{name}}</div>
                <div>{{gewichtsklasse.name}}</div>
              </div>
              <div class="gewichtsklasse-teilnehmer">
              {{#each teilnehmer}}
                <div class="listeneintrag justifycontent" id="teilnehmer_{{id}}" draggable=true>
                {{name}}<div class="gewichtsklasse-teilnehmer-meta"><span>{{verein.name}}</span><span>{{formatNumber gewicht}}kg</span><span>{{geschlecht}}</span></div>
                <input type="hidden" name="gruppen_teilnehmer" id="input_teilnehmer_{{id}}" value="gruppe_{{../id}}_teilnehmer_{{id}}"/>
                </div>
              {{/each}}
              </div>
            </div>
          {{/each}}
          </div>

          <h1>Männer</h1>
          <div class="gewichtsklassen">
          {{#each gewichtsklassengruppenMaennlich}}
            <div class="generalcontent" id="gruppe_{{id}}" droppable=true>
              <div class="gewichtsklasse-meta">
                <div>{{altersKlasse}}</div>
                <div>{{name}}</div>
                <div>{{gewichtsklasse.name}}</div>
              </div>
              <div class="gewichtsklasse-teilnehmer">
              {{#each teilnehmer}}
                <div class="listeneintrag justifycontent" id="teilnehmer_{{id}}" draggable=true>
                {{name}}<div class="gewichtsklasse-teilnehmer-meta"><span>{{verein.name}}</span><span>{{gewicht}}kg</span><span>{{geschlecht}}</span></div>
                <input type="hidden" name="gruppen_teilnehmer" id="input_teilnehmer_{{id}}" value="gruppe_{{../id}}_teilnehmer_{{id}}"/>
                </div>
              {{/each}}
              </div>
            </div>
          {{/each}}
          </div>

        {{else}}

          <h1>Mädchen und Jungs</h1>
          {{#each gruppiertBeiAlter}}
            {{this.altersKlasse}}
            <div class="actions">
              <button type="button" onclick="renewGewichtsklasse( '{{this.altersKlasse}}' )" >Einzelne Gewichtsklasse neu zuordnen<span class="material-icons md-48" title="Einzelne Gewichtsklasse neu zuordnen">autorenew</span></button>
            </div>

            <div class="gewichtsklassen">
            {{#each gruppen}}
              <div class="generalcontent" id="gruppe_{{id}}" droppable=true>
                <div class="gewichtsklasse-meta">
                  <div>{{altersKlasse}}</div>
                  <div>{{name}}</div>
                  <div>{{gewichtsklasse.name}}</div>
                </div>
              
                <div class="gewichtsklasse-teilnehmer">
                {{#each teilnehmer}}
                  <div class="listeneintrag justifycontent" id="teilnehmer_{{id}}" draggable=true>
                  {{name}}<div class="gewichtsklasse-teilnehmer-meta"><span>{{verein.name}}</span><span>{{formatNumber gewicht}}kg</span><span>{{geschlecht}}</span></div>
                  <input type="hidden" name="gruppen_teilnehmer" id="input_teilnehmer_{{id}}" value="gruppe_{{../id}}_teilnehmer_{{id}}"/>
                  </div>
                {{/each}}
                </div>
              </div>
            {{/each}}
            </div>

          {{/each}}

        {{/if}}
      </div>
    </form>
  </div>

  {{> footer}}
</body>
<script type="text/javascript">
  const draggableElements = document.querySelectorAll('[draggable=true]');
  draggableElements.forEach(draggable => {
    draggable.addEventListener('dragstart', drag);
  });

  const droppableElements = document.querySelectorAll('[droppable=true]');
  droppableElements.forEach(droppable => {
    droppable.addEventListener('dragover', allowDrop);
    droppable.addEventListener('drop', drop);
  });

  let draggedElement = null;

  function drag(event) {
    const draggedElement = event.target;
    event.dataTransfer.setData('text/plain', draggedElement.id);
    event.dataTransfer.effectAllowed = 'move';
  };

  function allowDrop(event) {
    event.preventDefault();
    event.dataTransfer.dropEffect = 'move';
  };

  function drop(event) {
    event.preventDefault();
    const id = event.dataTransfer.getData('text/plain');
    const draggedElement = document.getElementById(id);
    event.target.appendChild(draggedElement);
    document.getElementById("input_"+id).value = event.target.id + "_" + id;
  };

  const renewGewichtsklassen = async () => {
    var sicher = confirm("ACHTUNG\n\nHiermit werden alle bisherigen Zuordnung von Wettkämpfern in Gewichtsklassen und alle Wettkampf-Begegnungen gelöscht! \n\nSind sie sicher?");
    if (sicher) {
      fetch('/gewichtsklassen-renew', { method: 'POST' })
      .then(() => window.location.href='gewichtsklassen')
    };
  };

  const renewGewichtsklasse = async (data) => {
    console.log(data);
    var sicher = confirm("ACHTUNG\n\nHiermit werden alle bisherigen Zuordnung von Wettkämpfern in dieser Gewichtsklasse und alle Wettkampf-Begegnungen gelöscht! \n\nSind sie sicher?");
    if (sicher) {
      fetch('/gewichtsklasse-renew', { method: 'POST', body: data })
      .then(() => window.location.href='gewichtsklassen')
    };
  };

</script>

</html>