<!DOCTYPE html>
<html lang="de">
<head>
{{> header}}
</head>
<body>
  {{> title}}
  {{> nav}}

  <div>
    Aktuelle Begegnung {{begegnung}}
    <form action="/turnier/begegnungen/randori/{{begegnung}}" method="POST">
      <div class="ergebnis">
        <div class="ergebnis_eintrag weiss">
          <div class="wettkaempfer name">
            <label>{{wertung.wettkaempfer1.name}}</label>
            <label>{{wertung.wettkaempfer1.farbe}}</label>
            <label>{{wertung.wettkaempfer1.id}}</label>
            <label>{{wertung.wettkaempfer1.verein.name}}</label>
          </div>
          <span class="row"><label>Fairness</label><input type="number" name="fairness1" required/><br/></span>
          <span class="row"><label>Kampfgeist</label><input type="number" name="kampfgeist1" required/><br/></span>
          <span class="row"><label>Technik</label><input type="number" name="technik1" required/><br/></span>
          <span class="row"><label>Stil</label><input type="number" name="stil1" required/><br/></span>
        </div>

        <div class="ergebnis_eintrag rot">
          <div class="wettkaempfer name">
            <label>{{wertung.wettkaempfer2.name}}</label>
            <label>{{wertung.wettkaempfer2.farbe}}</label>
            <label>{{wertung.wettkaempfer2.id}}</label>
            <label>{{wertung.wettkaempfer2.verein.name}}</label>
          </div>
          <span class="row"><label>Fairness</label><input type="number" name="fairness2" required/><br/></span>
          <span class="row"><label>Kampfgeist</label><input type="number" name="kampfgeist2" required/><br/></span>
          <span class="row"><label>Technik</label><input type="number" name="technik2" required/><br/></span>
          <span class="row"><label>Stil</label><input type="number" name="stil2" required/><br/></span>
        </div>
      </div>
      <button type="submit">Ergebnis eintragen</button>
    </form>
  </div>

  <div>
    Nächste Begegnung auf dieser Matte
  </div>
  
  {{> footer}}
</body>
</html>