<!DOCTYPE html>
<html>
<head>
    <title>Turnierübersicht</title>
</head>
<body>
  {{> nav }}

  <div>Anzahl der Kämpfer: {{anzahlwk}}</div>
  
  <h2>Gewichtsklassen</h2>
  {{#each gewichtsklassengruppen}}
    <div class="gewichtsklasse">
      <div>{{gruppenGeschlecht}}</div>
      <div>Bis {{name}}kg</div>
      <div>Teilnehmer:</div>
      <table>
        <tbody>
        {{#each teilnehmer}}
          <tr><td>{{id}}</td>
            <td>{{name}}</td>
            <td>{{geschlecht}}</td>
            <td>{{altersklasse}}</td>
            <td>{{verein.name}}</td>
            <td>{{gewicht}}</td></tr>
        {{/each}}
        </tbody>
      </table>
    </div>
  {{/each}}


</body>
<script type="text/javascript">

</script>

</html>