<!DOCTYPE html>
<html>
<head>
    <title>Turnierübersicht</title>
    <link rel="stylesheet" href="/css/mainstyle.css">
</head>
<body>
  {{> nav }}

  <div>Anzahl der Kämpfer: {{anzahlwk}}</div>
  
  <h2>Gewichtsklassen</h2>
  <div class="gewichtsklassen">
  {{#each gewichtsklassengruppen}}
    <div class="gewichtsklasse">
      <div>{{gruppenGeschlecht}}</div>
      <div>{{altersKlasse}}</div>
      <div>Bis {{name}}kg</div>
      <div>Teilnehmer:</div>
      <table>
        <tbody>
        {{#each teilnehmer}}
          <tr><td>{{name}}</td>
            <td>{{verein.name}}</td>
            <td>{{gewicht}}</td></tr>
        {{/each}}
        </tbody>
      </table>
    </div>
  {{/each}}
</div>

</body>
<script type="text/javascript">

</script>

</html>