<!DOCTYPE html>
<html>
  {{> header}}
<body>
  {{> title }}
  {{> nav }}
  
  <div>
    <div class="bodyheader">
      <h2>Kampfsystem</h2>
      <div>Wettkampfgruppen erstellen:</div>
      <div class="actions">
        <a href="/turnier/wettkampfgruppen"><span class="material-icons md-48" title="Wettkampfgruppen erstellen">create_new_folder</span></a>
      </div>
    </div>
    <div class="generalcontent">
      <form id="kampfklassenformular" action="/turnier/kampfsystem" method="POST">
      <div class="actions">
        <button type="submit">Wettkampfgruppen-Einstellung speichern<span class="material-icons md-48" title="Wettkampfgruppen speichern">save</span></button>
      </div>

      {{#each gewichtsklassengruppen}}
        <div class="kampfsystemklasse listeneintrag">
          <div class="listeneintrag-titel">{{gewichtsklasse.name}} {{altersKlasse}} {{gruppenGeschlecht}} ({{teilnehmer.length}} Teilnehmer)</div>
          <div class="kampsystemklasse-auswahlen">
          {{#each ../kampfsysteme as |name index|}}
            <input type="radio" name="{{../gruppenGeschlecht}}-{{../altersKlasse}}-{{../gewichtsklasse.gewicht}}" value="{{index}}" {{setChecked "pool6" index}}/><label>{{name}}</label>
          {{/each}}
          </div>
        </div>
      {{/each}}
      </form>
    </div>

  {{> footer}}
</body>
<script type="text/javascript">
</script>

</html>