<!DOCTYPE html>
<html>
<head>
    <title>Wettkämpfer</title>
</head>
<body>
  {{> nav }}

  <form action="/wettkaempfer" method="POST">
    <input type="hidden" name="id" value="{{kaempfer.id}}"/>
    
    {{#each vereine}}
      <label><input type="radio" name="vereinsid" value="{{id}}" {{setChecked ../kaempfer.verein.id id}}/>{{name}}</label>
    {{/each}}

    <div class="">Name, Vorname</div>
    <div><input type="string" name="name" value="{{kaempfer.name}}"/></div>

    <div class="">Alter</div>
    {{#each altersklasse as |name index|}}
      <label><input type="radio" name="altersklasse" value="{{index}}" {{setChecked ../kaempfer.altersklasse name}}/>{{name}}</label>
    {{/each}}


    <div class="">Geschlecht</div>
    {{#each geschlechter as |name index|}}
      <label><input type="radio" name="geschlecht" value="{{index}}" {{setChecked ../kaempfer.geschlecht name}}/>{{name}}</label>
    {{/each}}

    <div class="">Gewicht</div>
    <div><input type="number" name="gewicht" value="{{kaempfer.gewicht}}"/></div>

    <button type="submit">Judoka eintragen</button>
  </form>
</body>
<script type="text/javascript">
  
</script>

</html>